@use "../utils/variables.scss" as variables;

// ### MOBILE SCREEN SIZES ###
@media (max-width: 768px) {
  #cards-wrapper {
    margin: 4.2em 1.6em 2em 1em;

    display: grid;
    grid-template-columns: 1fr;

    .card-wrapper-container {
      background-color: aquamarine;
    }

    .card-title {
      font: {
        weight: 700;
        family: "Poppins", sans-serif;
        size: 1.5rem;
      }
    }

    .card-desc {
      margin-left: 6rem;

      font: {
        size: 1rem;
        weight: 400;
        family: "Roboto", sans-serif;
      }

      color: variables.$paragraph-color;

      width: 40%;

      text-align: justify;
    }

    li {
      list-style: none;
    }

    strong {
      font: {
        family: "Poppins", sans-serif;
        weight: 700;
        size: 2em;
      }
    }

    .tourist-point-data {
      box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);

      display: grid;
      grid-template-rows: 1fr 1fr;

      width: 100%;
      height: 37rem;

      margin: 2rem 1.5rem 0rem 0rem;

      word-break: break-word;
    }

    .image-wrapper {
      width: 100%;

      margin: auto;
    }

    .image-wrapper img {
      width: 100%;
      height: 20em;
    }

    .description-wrapper {
      width: 70%;
      height: 6em;

      display: flex;
      align-items: center;

      text-align: center;

      margin-top: 2.5rem;

      color: #858585;

      font-weight: 700;
      font-family: "Roboto", sans-serif;
      font-size: 1em;

      line-height: 1.5rem;

      p {
        height: 10em;
        text-align: justify;
      }
    }

    .text-wrapper {
      margin: auto;
      margin-left: 0em;

      width: 80vw;

      display: flex;
      flex-direction: column;
      align-items: flex-start;

      overflow-y: auto;

      padding: 0em;
    }

    .bottom-card-wrapper {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      width: 80%;

      height: 13.2rem;
      margin: auto;
    }
  }
}

// ### MOBILE AND DESKTOP SCREEN SIZES ###
@media (min-width: 769px) and (max-width: 1023px) {
  #cards-wrapper {
    margin: 7.3em 1.5em 0em 1rem;

    display: flex;
    flex-wrap: wrap;

    width: 100%;

    width: 100%;

    .cards {
      display: grid;
      grid-template-columns: 1fr 1fr;

      width: 95vw;
    }

    .card-title {
      font: {
        weight: 700;
        family: "Poppins", sans-serif;
        size: 1.5rem;
      }

      margin-bottom: 1em;
      margin-top: 1.5rem;
    }

    .card-desc {
      margin-left: 6rem;
      font: {
        size: 1rem;
        weight: 400;
        family: "Roboto", sans-serif;
      }

      color: variables.$paragraph-color;
    }

    li {
      list-style: none;
    }

    strong {
      font: {
        family: "Poppins", sans-serif;
        weight: 700;
        size: 2em;
      }
    }

    .tourist-point-data {
      box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);

      display: grid;
      grid-template-rows: 1fr 1fr;

      width: 90%;
      height: 26.5rem;

      margin: 2rem 1.5rem 1rem 0rem;

      word-break: break-word;
    }

    .image-wrapper img {
      width: 100%;
      height: 13.9rem;

      border-radius: 0.5em;
    }

    .description-wrapper {
      width: 70%;
      height: 6em;

      display: flex;
      align-items: center;

      text-align: center;

      margin-top: 2.5rem;

      color: #858585;

      font-weight: 700;
      font-family: "Roboto", sans-serif;
      font-size: 1em;

      line-height: 1.5rem;

      p {
        text-align: justify;
        height: 10em;
      }
    }

    .text-wrapper {
      margin: auto;

      display: flex;
      flex-direction: column;
      align-items: flex-start;

      overflow-y: auto;

      height: 6rem;
      width: 35vw;
    }

    .bottom-card-wrapper {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      width: 80%;

      height: 13.2rem;
      margin: auto;
    }
  }
}

// ### LARGER SCREEN SIZES ###
@media (min-width: 1024px) {
  #cards-wrapper {
    margin: 7.3rem 1em 0em 8.2rem;

    display: flex;
    flex-wrap: wrap;

    max-width: 68rem;

    .cards {
      display: grid;
      grid-template-columns: 1fr 1fr;

      width: 100%;
    }

    li {
      list-style: none;
    }

    strong {
      // Refere-se ao titulo da seção pontos turísticos
      font: {
        family: "Poppins", sans-serif;
        weight: 700;
        size: 2em;
      }

      margin-top: 1.8rem;
    }

    .tourist-point-data {
      box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);

      height: 13.2rem;

      margin: 2rem 1.5rem 1rem 0rem;

      display: grid;
      grid-template-columns: 1fr 1fr;

      word-break: break-word;

      .image-wrapper {
        width: 20vw;
        height: 13em;
      }

      .image-wrapper img {
        width: 100%;
        height: 13em;

        border-radius: 0.5em;
      }

      .description-wrapper {
        width: 70%;
        height: 6em;

        display: flex;
        align-items: center;

        text-align: center;

        margin-top: 2.5rem;

        color: #858585;

        font-weight: 700;
        font-family: "Roboto", sans-serif;
        font-size: 1em;

        line-height: 1.5rem;

        p {
          text-align: justify;
          height: 10em;
        }
      }

      .text-wrapper {
        margin: auto;

        display: flex;

        overflow-y: auto;
      }

      .card-title {
        font: {
          size: 1.5rem;
          weight: 700;
          family: "Poppins", sans-serif;
        }

        margin-bottom: 1em;
      }

      .bottom-card-wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        width: 80%;

        height: 13.2rem;
        margin: auto;
      }
    }
  }
}

// ### SMALL MOBILE SCREEN SIZE ###
@media (max-width: 320px) {
  #cards-wrapper {
    margin: 4.2em 1.6em 2em 1em;

    display: grid;
    grid-template-columns: 1fr;

    .card-wrapper-container {
      background-color: aquamarine;
    }

    .card-title {
      font: {
        weight: 700;
        family: "Poppins", sans-serif;
        size: 1.5rem;
      }
    }

    .card-desc {
      margin-left: 6rem;

      font: {
        size: 1rem;
        weight: 400;
        family: "Roboto", sans-serif;
      }

      color: variables.$paragraph-color;

      width: 40%;
    }

    li {
      list-style: none;
    }

    strong {
      font: {
        family: "Poppins", sans-serif;
        weight: 700;
        size: 2em;
      }
    }

    .tourist-point-data {
      box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);

      display: grid;
      grid-template-rows: 1fr 1fr;

      width: 100%;
      height: 26rem;

      margin: 2rem 1.5rem 0rem 0rem;

      word-break: break-word;
    }

    .text-wrapper {
      display: flex;
      align-items: flex-start;
      flex-direction: column;

      overflow-y: auto;

      padding: 0.1em;
    }

    .image-wrapper {
      width: 100%;
    }

    .image-wrapper img {
      width: 100%;
      height: 12em;
    }

    .description-wrapper {
      width: 70%;

      display: flex;
      align-items: center;
      justify-content: center;

      text-align: center;

      margin-top: 2.5rem;

      color: variables.$paragraph-color;

      font: {
        weight: 700;
        family: "Roboto", sans-serif;
        size: 1em;
      }

      line-height: 1.5rem;

      p {
        height: 10em;
        text-align: justify;
      }
    }
  }
}

// ### 4K SCREEN SIZE ###
@media (min-width: 2560px) {
  #cards-wrapper {
    margin: 7.3rem 1em 0em 8.2rem;

    display: flex;
    flex-wrap: wrap;

    max-width: 68rem;

    .cards {
      display: grid;
      grid-template-columns: 1fr 1fr;

      width: 100%;
    }

    li {
      list-style: none;
    }

    strong {
      font: {
        family: "Poppins", sans-serif;
        weight: 700;
        size: 2em;
      }

      margin-top: 1.8rem;
    }

    .tourist-point-data {
      box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);

      height: 13.2rem;

      margin: 2rem 1.5rem 1rem 0rem;

      display: grid;
      grid-template-columns: 1fr 1fr;

      .image-wrapper {
        width: 10vw;
        height: 13em;
      }

      .image-wrapper img {
        width: 100%;
        height: 13em;

        border-radius: 0.5em;
      }

      .description-wrapper {
        width: 70%;
        height: 6em;

        display: flex;
        align-items: center;

        text-align: center;

        margin-top: 2.5rem;

        color: #858585;

        font-weight: 700;
        font-family: "Roboto", sans-serif;
        font-size: 1em;

        line-height: 1.5rem;

        p {
          text-align: justify;
          height: 10em;
        }
      }

      .text-wrapper {
        margin: auto;

        display: flex;

        overflow-y: auto;
      }

      .card-title {
        font: {
          size: 1.5rem;
          weight: 700;
          family: "Poppins", sans-serif;
        }

        margin-bottom: 1em;
      }

      .bottom-card-wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        width: 80%;

        height: 13.2rem;
        margin: auto;
      }
    }
  }
}
