@use "../utils/variables.scss" as variables;

// ### HEADER AREA ###
@media (max-width: 1023px) {
  header {
    margin: 2em 1em 0em 1em;

    h1 {
      font: {
        weight: 700;
        size: 2em;
        family: "Poppins", sans-serif;
      }
    }
  }
}

@media (min-width: 1024px) {
  header {
    margin: 2em 1em 0em 8.1em;

    h1 {
      font: {
        weight: 700;
        size: 2em;
        family: "Poppins", sans-serif;
      }
    }
  }
}
