@use "../utils/variables.scss" as variables;

// ### SMALLER MOBILE SCREEN SIZES ###
@media (max-width: 320px) {
  #form {
    margin: 2em 1em 0em 1em;
    .tourist-spot-img {
      border: 2px solid variables.$border;
      border-radius: 0.5em;

      width: 77%;
      height: 11.3em;

      display: flex;
      align-items: center;
      justify-content: center;

      input {
        display: none;
      }

      p:hover {
        cursor: pointer;

        color: #9b9b9b;
      }

      .preview-image {
        width: 100%;
        height: 100%;

        display: none;
      }
    }

    p {
      font: {
        family: "Roboto", sans-serif;
        size: 1em;
      }

      color: variables.$paragraph-color;
    }

    #itemTitle {
      width: 100%;
      height: 3.3rem;

      margin-top: 1rem;

      padding-left: 0.9em;

      border: 2px solid variables.$border;
      border-radius: 3.5px;

      &::placeholder {
        font: {
          family: "Roboto", sans-serif;
          size: 1rem;
          weight: 400;
        }
      }
    }

    #itemDescription {
      width: 100%;
      height: 8.1rem;

      border: 2px solid variables.$border;
      border-radius: 3.5px;

      margin-top: 19.4px;

      padding-left: 0.9em;

      resize: none;

      &::placeholder {
        font: {
          family: "Roboto", sans-serif;
          size: 1rem;
          weight: 400;
        }

        padding-top: 2.25rem;
      }
    }

    #submitData {
      background-color: variables.$button-background;

      width: 100%;
      height: 3.5em;

      border: none;
      border-radius: 0.5em;

      margin-top: 0.6em;

      font: {
        size: 1em;
        weight: 700;
      }

      color: #fff;
    }
  }
}

// ### SMALL AND MEDIUM MOBILE SCREEN SIZES ###
@media (min-width: 321px) and (max-width: 768px) {
  #form {
    margin: 2em 1em 0em 1em;
    .tourist-spot-img {
      border: 2px solid variables.$border;
      border-radius: 0.5em;

      width: 18em;
      height: 13.2em;

      display: flex;
      align-items: center;
      justify-content: center;

      input {
        display: none;
      }

      img {
        display: none;
        width: 100%;
      }

      p:hover {
        cursor: pointer;

        color: #9b9b9b;
      }
    }

    p {
      font: {
        family: "Roboto", sans-serif;
        size: 1em;
      }

      color: variables.$paragraph-color;
    }

    #itemTitle {
      width: 100%;
      height: 3.3rem;

      margin-top: 1rem;

      padding-left: 0.9em;

      border: 2px solid variables.$border;
      border-radius: 3.5px;

      &::placeholder {
        font: {
          family: "Roboto", sans-serif;
          size: 1rem;
          weight: 400;
        }
      }
    }

    #itemDescription {
      width: 100%;
      height: 8.1rem;

      border: 2px solid variables.$border;
      border-radius: 3.5px;

      margin-top: 19.4px;

      padding: 0.6em 0em 0em 0.9em;

      resize: none;

      &::placeholder {
        font: {
          family: "Roboto", sans-serif;
          size: 1rem;
          weight: 400;
        }

        padding-top: 2em;
      }
    }

    #submitData {
      background-color: variables.$button-background;

      width: 100%;
      height: 3.5em;

      border: none;
      border-radius: 0.5em;

      margin-top: 0.6em;

      font: {
        size: 1em;
        weight: 700;
      }

      color: #fff;
    }
  }
}

// ### LARGER MOBILE AND DESKTOP SCREEN SIZES ###
@media (min-width: 769px) and (max-width: 1023px) {
  #form {
    margin: 2em 1em 0em 1em;

    display: flex;

    .text-and-button-wrapper {
      width: 30rem;

      position: absolute;

      top: 7.7rem;
      left: 18.9rem;
    }

    .tourist-spot-img {
      border: 2px solid variables.$border;
      border-radius: 0.5em;

      width: 18rem;
      height: 13.9rem;

      display: flex;
      justify-content: center;
      align-items: center;

      position: relative;

      input {
        display: none;
      }

      p:hover {
        cursor: pointer;

        color: #9b9b9b;
      }

      .preview-image {
        width: 100%;
        height: 100%;

        display: none;
      }
    }

    .text-input-container {
      display: flex;
      flex-direction: column;

      margin: -0.4rem 0rem 0rem 1rem;

      height: 13.6rem;
      width: 27rem;
    }

    p {
      font: {
        family: "Roboto", sans-serif;
        size: 1em;
      }

      color: variables.$paragraph-color;
    }

    #itemTitle {
      width: 100%;
      height: 3.3rem;

      margin-top: 0rem;

      padding-left: 0.9em;

      border: 2px solid variables.$border;
      border-radius: 3.5px;

      &::placeholder {
        font: {
          family: "Roboto", sans-serif;
          size: 1rem;
          weight: 400;
        }
      }
    }

    #itemDescription {
      width: 100%;
      height: 10.7em;

      border: 2px solid variables.$border;
      border-radius: 3.5px;

      margin-top: 19.4px;

      padding: 0.6em 0em 0em 0.9em;

      resize: none;

      &::placeholder {
        font: {
          family: "Roboto", sans-serif;
          size: 1rem;
          weight: 400;
        }

        padding-top: 2em;
      }
    }

    #submitData {
      background-color: variables.$button-background;

      width: 7.5rem;
      height: 3.5rem;

      margin-left: 20.6rem;
      margin-top: 1rem;

      border: none;
      border-radius: 0.5em;

      display: inline-block;

      cursor: pointer;

      font-size: 1em;
      font-weight: 700;

      color: #fff;
    }
  }
}

// ### LARGER DESKTOP SCREEN SIZES ###
@media (min-width: 1024px) {
  #form {
    margin: 2em 1em 0em 8.1em;

    display: flex;

    .text-and-button-wrapper {
      width: 30rem;

      position: absolute;

      top: 7.7rem;
      left: 26rem;
    }

    .tourist-spot-img {
      border: 2px solid variables.$border;
      border-radius: 0.5em;

      width: 18rem;
      height: 13.9rem;

      display: flex;
      justify-content: center;
      align-items: center;

      position: relative;

      input {
        display: none;
      }

      p:hover {
        cursor: pointer;

        color: #9b9b9b;
      }

      .preview-image {
        width: 100%;
        height: 100%;

        display: none;
      }
    }

    .text-input-container {
      display: flex;
      flex-direction: column;

      margin: -0.4rem 0rem 0rem 1rem;

      height: 13.6rem;
      width: 27rem;
    }

    p {
      font: {
        family: "Roboto", sans-serif;
        size: 1em;
      }

      color: variables.$paragraph-color;
    }

    #itemTitle {
      width: 100%;
      height: 3.3rem;

      margin-top: 0rem;

      padding-left: 0.9em;

      border: 2px solid variables.$border;
      border-radius: 3.5px;

      &::placeholder {
        font: {
          family: "Roboto", sans-serif;
          size: 1rem;
          weight: 400;
        }
      }
    }

    #itemDescription {
      width: 100%;
      height: 10.7em;

      border: 2px solid variables.$border;
      border-radius: 3.5px;

      margin-top: 19.4px;

      padding: 0.6em 0em 0em 0.9em;

      resize: none;

      &::placeholder {
        font: {
          family: "Roboto", sans-serif;
          size: 1rem;
          weight: 400;
        }

        padding-top: 2em;
      }
    }

    #submitData {
      background-color: variables.$button-background;

      width: 7.5rem;
      height: 3.5rem;

      margin-left: 20.6rem;
      margin-top: 1rem;

      border: none;
      border-radius: 0.5em;

      display: inline-block;

      cursor: pointer;

      font-size: 1em;
      font-weight: 700;

      color: #fff;

      &:hover {
        background-color: #fd888b;
        transition: 0.3s;
      }
    }
  }
}
